::-webkit-scrollbar { display: none; }

.top-card, .btm-card {
  display: flex;
  min-width: 100%;
  min-height: 27.5vh;
  overflow-x: auto;
  border: calc(0.1vw + 0.1vh) dashed #3CB37133;
}

.top-card { margin-top: calc(10px + 5vh); }

.image-rate {
  width: 100%;
  position: relative;
  height: calc(20px + 20vh);
  margin: calc(0.5vw + 5px);
  flex-grow: 0;
}

.image-rate img {
  height: 100%;
  cursor: pointer;
}

#fullimage {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#fullimage img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#myBtn {
  position: fixed;
  bottom: 0;
  left: calc(0.6vw + 0.6vh);
  font-size: calc(35px + 1vw);
}

.drops {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%,-65%);
  transform: translate(-50%,-65%);
}

.dropbtn1, .dropbtn2 {
  font-size: calc(10px + 0.2vw + 0.15vh);
  font-family: inherit;
  background-color: #3CB371;
  color: #00000080;
  padding: 1.5vh 2vh;
  border: none;
  cursor: pointer;
  width: calc(50px + 10vw + 5vh);
}

.dropdown1, .dropdown2 {
  position: relative;
  display: inline-block;
}

.dc1, .dc2 {
  display: none;
  position: absolute;
  background-color: #F0F7FF;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc1 span, .dc2 span {
  font-size: calc(10px + 0.2vw + 0.2vh);
  text-align: left;
  color: #00000080;
  padding: 1vh 2vh;
  display: block;
}

.dc1 span:hover, .dc2 span:hover { background-color: #fffff0; }
.show { display: block; }

@media only screen and (max-width: 415px) {
  .top-card, .btm-card { min-height: 26.5vh; }
  .top-card { margin-top: calc(10px + 4.6vh); }
  .drops {
    top: 75%;
    -webkit-transform: translate(-50%,-75%);
    transform: translate(-50%,-75%);
  }
}
