::-webkit-scrollbar { display: none; }

.top-card, .btm-card {
  display: flex;
  min-width: 100%;
  min-height: 27.5vh;
  overflow-x: auto;
  border: calc(0.1vw + 0.1vh) dashed #3CB37133;
}

.top-card { margin-top: calc(10px + 5vh); }

.image-rate {
  width: 100%;
  position: relative;
  height: calc(20px + 20vh);
  margin: calc(0.5vw + 5px);
  flex-grow: 0;
}

.image-rate img {
  height: 100%;
  cursor: pointer;
}

#fullimage {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#fullimage img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#myBtn {
  position: fixed;
  bottom: 0;
  left: calc(0.6vw + 0.6vh);
  font-size: calc(35px + 1vw);
}

div.scrollmenu {
  background-color: #F0F7FF;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu span {
  display: inline-block;
  padding: 3vh 2vh;
  font-size: calc(10px + 0.2vw + 0.2vh);
  color: #00000080;
}

div.scrollmenu span:hover { background-color: #fffff0; }

#space { padding-top: calc(20px + 6.5vh); }

.cnt {
  position: fixed;
  left: -50px;
  background-color: #F0F7FF;
  width: calc(15px + 4vw + 3vh);
}

#engl:hover, #chn:hover { background-color: #F0F7FF; }

#dc1, #dc2 {
  position: absolute;
  background-color: #F0F7FF;
  width: 100%;
  z-index: 1;
  display: inline-block;
}

.drops {
  text-align: center;
  width: calc(20px + 15vh + 15vw);
  position: fixed;
  top: 75%;
  left: 45%;
  -webkit-transform: translate(-45%,-75%);
  transform: translate(-45%,-75%);
}

@media only screen and (max-width: 415px) {
  .top-card, .btm-card { min-height: 26.5vh; }
  .top-card { margin-top: calc(10px + 4.6vh); }
  .drops {
    top: 80%;
    -webkit-transform: translate(-45%,-80%);
    transform: translate(-45%,-80%);
  }
  .cnt {
    left: -100px;
    background-color: red;
  }
}
