body {
  background: gray;
  font-family: Palatino, serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-size: calc(9px + 0.75vw);
  border-bottom: calc(1px + 1vw) solid mediumseagreen;
  border-top: calc(1px + 1vw) solid mediumseagreen;
  border-left: calc(1px + 1vw) solid transparent;
  border-right: calc(1px + 1vw) solid transparent;
  padding: calc(5px + 0.5vw);
  width: calc(20px + 15vw);
  line-height: 1.25em;
}

.flex-gallery{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-rate{
  position: relative;
  overflow: hidden;
  height: calc(20px + 20vh);
  margin: calc(0.5vw + 5px);
  flex-grow: 0;
}

.image-rate img{
  width: auto;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-rate:after{
  content: '';
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.image-rate:hover:after{opacity: 1}

#fullimage {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#fullimage img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 480px) {
  .image-rate { height: calc(50vw - 5px); }
}
