p {
  font-size: calc(8px + 0.75vw + 0.75vh);
  width: calc(90px + 30vw);
}

#aud {
  color: #3CB371;
  top: calc(15px + 15vh);
  width: 100%;
  left: calc(0.5vw + 0.5vh);
  position: -webkit-sticky;
  position: sticky;
  font-size: calc(35px + 1vw);
}

.image-rate img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 480px) {.image-rate { height: calc(50vw - 5px); } }
