a { color: #FF6F61; }
a:hover { color: #3CB371; }
sub { font-size: calc(6px + 0.3vw + 0.3vh); }
#space { padding-top: calc(7.5px + 3.5vh); }
#curr { color: #3CB371; }
#curr:hover { cursor: auto; }
#aud:hover { cursor: pointer; }

p {
  padding: 0 0 calc(5px + 2vh) calc(5px + 2vw);
  line-height: 1.5em;
  font-size: calc(8px + 0.4vw + 0.4vh);
}

#nav {
  font-size: calc(7px + 1.15vw + 0.3vh);
  position: fixed;
  left: calc(0.75vw + 0.25vh);
  top: calc(25px + 8%);
}

#aud {
  width: calc(10px + 2.5vh + 1.75vw);
  padding-bottom: calc(1.5vw + 1.5vh);
  color: #3CB371;
  font-size: calc(35px + 1vw);
  text-align: center;
}

.image-rate img {
  float: right;
  max-width: 96%;
  max-height: 100%;
  padding-bottom: calc(10px + 2.5vh);
}

@media only screen and (max-width: 415px) {
  p {
    font-size: calc(4px + 0.4vw + 0.4vh);
    padding: 0 0 0 calc(5px + 1.5vw);
  }
  #nav {
    left: calc(0.25vw + 0.75vh);
    font-size: calc(8.5px + 1.5vw);
  }
  .image-rate img { padding-bottom: 0; }
  #aud { padding-top: calc(0.75vw + 0.75vh); }
}
