.homemenu {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}

.belowmenu {
  position: fixed;
  bottom: calc(5px + 1vh);
  text-align: center;
  font-size: calc(10px + 2vw + 2vh);
  left: 49%;
  right: 51%;
}

p:hover {
  border-top: calc(0.65vh + 0.55vw) solid transparent;
  border-left: calc(0.65vh + 0.55vw) solid #3CB371;
  border-right: calc(0.65vh + 0.55vw) solid #3CB371;
  border-bottom: calc(0.65vh + 0.55vw) solid transparent;
}

.menu {
  text-align: center;
  font-size: calc(10px + 2.2vw + 0.8vh);
  width: calc(25px + 35vw);
  padding-left: calc(1vw + 1vh);
  padding-right: calc(1vw + 1vh);
}
